
body > div
{
  width: 450px;
  margin: 80px auto;
}

#info_wrapper
{
  width: 300px;
  margin: 0px auto;
}

.label
{
  font-weight: bold;
  text-align: right;
}

.value
{
  padding-left: 5px;
}

#pin_wrapper
{
  width: 200px;
  margin: 0px auto;
  margin-top: 15px;
  margin-bottom: 15px;
}
#pin_label
{
  font-size: 24px;
  font-weight: bold;
}

#pin
{
  font-size: 24px;
  font-weight: bold;
  margin-left: 15px;
  width: 60px;
}

#whats_this_link
{
  font-size: 10px;
  margin-left: 10px;
}
