body
{
  /*font-family: Calibri,Arial,Helvetica,sans-serif;*/
  font-family: "futura-pt", Futura, "Trebuchet MS", Arial, sans-serif;
  min-height:600px;
  min-width:1024px;
}
h1
{
  font-size: 2em;
  color: #cd7249;
}

a
{
  text-decoration: underline;
}


h2
{
  font-size: 1.5em;
  font-weight: normal;
  color: black;
  margin-top: 10px;
  margin-bottom: 0px;
}

h3
{
  font-size: 1.3em;
  color: #008fd5;
  margin-top: 5px;
  margin-bottom: 5px;
}

h4
{
  font-size: 1.2em;
  color: #008fd5;
  margin-top: 5px;
  font-family: "futura-pt", Futura, "Trebuchet MS", Arial, sans-serif;
  font-weight: normal;
}

p
{
  width: 600px;
  line-height: normal;
}

label.error, .error, .error_message
{
  margin-top: 0px;
  margin-bottom: 0px;
  color: #783447;
}


input.error {
  border-color: red;
  border-style: solid;
  border-width: 1px;
}

#giving_logo
{
  position: absolute;
  top:55%;
  left: 73%;
}

#registerDot {
  visibility: visible;
  opacity: 1;
}


/* main container area */

#container
{
  width: 1024px;
  margin: 0 auto;
  height: 550px;
  margin-top: 0px;
  overflow: hidden;
  position: relative;
}

#steps {
  position: absolute;
  width: 3200px;
}

/*** Reset password page ***/
#submit_reset {
  margin-top: 12px;
  margin-left: 10px;
}

#reset_error {
  display: none;
}
#reset_success {
  display: none;
}

/**** Login Screen ****/
#username { width: 230px; }
#password { width: 230px; }
#confirm_password { width: 230px; }
#email { width: 230px; }
#submit_login, #submit_password_recovery {
  margin-left: 10px;
  margin-top: 15px;
  width: 80px;
  height: 30px;
}

#validation_errors {
  position: absolute;
  display: none;
  width: 300px;
  background-color: white;
  border: solid 1px black;
}

#error_list {
  color: #874540;
}

#close_errors {
  float: right;
  margin-right: 15px;
  margin-bottom: 15px;
}

/**** Information Screen ****/

#information_wrapper {
  margin-left: 15px;
  width: 700px;
}
#change_email, #change_password {
  width: 68px;
  height: 24px;
  font-size: 14px;
}

#submit_change, #cancel_change, #submit_change_email, #cancel_change_email {
  margin-top: 16px;
  width: 70px;
  height: 28px;
  font-size: 16px;
  margin-left: 10px;
}

#cancel_change {
  margin-left: 10px;
}

#change_password_form, #change_email_form
{
  display:none;
}


.information_label {
  display: inline-block;
  font-weight: bold;
  width: 120px;
}
.information_field {
  display: inline-block;
  width: 200px;
}

/**
 * Recuring donation / subscription screen
 */
.recurring_donation_widget
{
  padding: 5px;
  border: 1px solid #A0A0A0;
}
.recurring_donation_widget > label
{
  font-weight: bold;
  display: inline-block;
  width: 150px;
}
.recurring_donation_widget > span
{
  display: inline-block;
  width: 150px;
}
button.cancel_subscription
{
  width: 80px !important;
  height: 28px !important;
}

/**
 * Donation history screen
 */
#donation_history_table
{
    width: 60%;
    text-align: center;
}



/* general classes */
.clear
{
  clear:both;
}

.validation
{
  width: 16px;
  height: 16px;
  background-image: url('/images/exclamation.png');
  background-size: contain;
  display: none;
  /*display: inline-block;*/
}

.nav {
  margin-bottom: 0px;
  margin-left: 0;
  padding-left: 0px;
}

.process {display: none;}

.nav-process:before,
.nav-process:after {
  display: table;
  line-height: 0;
  content: "";
}

.nav-process:after {
  clear: both;
}

.nav-process > li {
  float: left;
  list-style: none;
  margin-right: 15px;
  display: inline-table;
  margin-bottom: 10px;
}

.nav-process > li:hover {

}
.input_wrapper
{
  float: left;
  line-height: 15px;
  margin-top: 15px;
  height: 40px;
}
.login_form {
  margin: 0 auto;
  width: 90%;
}

.large_line_height {
  line-height: 40px;
  float: left;
}
.small_line_height {
  line-height: 15px;
  float: left;
}

.next_button {
  float: left;
  margin-left: 65%;
  z-index: 2;
}
.back_button {
  z-index: 2;
}

.step_container {
  position: relative;
  width: 1024px;
  height: 550px;
  float: left;
}

.col1
{
  margin-left: 0px;
}
.col2
{
  margin-left: 10px;
}

.page_title
{
  margin-left: 0px;
}

button.orange:hover {
  background: #A94310;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from( #b05819), to( #A94310));
  background: -moz-linear-gradient(top, #b05819 0%, #A94310 100%);
  background: -o-linear-gradient(top, #b05819 0%, #A94310 100%);
  background: -ms-linear-gradient(top, #b05819 0%, #A94310 100%);
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #111;
  -moz-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #111;
  -o-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #111;
  -ms-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #111;
  box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #111;
}
button.orange:active {
  background: #A94310;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from( #D2691E), to( #A94310));
  background: -moz-linear-gradient(top, Chocolate 0%, #A94310 100%);
  background: -o-linear-gradient(top, Chocolate 0%, #A94310 100%);
  background: -ms-linear-gradient(top, Chocolate 0%, #A94310 100%);
  outline: none;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), inset 0 0 7px #202020;
  -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.1), inset 0 0 7px #202020;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), inset 0 0 7px #202020;
}
button.orange {
  width: 120px;
  height: 38px;
  border-radius: 7px;
  color: #FFFFFF;
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333333;
  -moz-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333333;
  -o-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333333;
  -ms-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333333;
  box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333333;
  font-size: 16px;
  border: 0px solid Chocolate;
  outline: none;
  background: #993300;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from( #D2691E), to( #993300));
  background: -moz-linear-gradient(top, Chocolate 0%, #993300 100%);
  background: -o-linear-gradient(top, Chocolate 0%, #993300 100%);
  background: -ms-linear-gradient(top, Chocolate 0%, #993300 100%);
}
button.grey
{
  width: 120px;
  height: 38px;
  border-radius: 7px;
  color: #FFFFFF;
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(115, 115, 100, 0.4), 0 1px 3px #333333;
  -moz-box-shadow: inset 0px 0px 0px 1px rgba(115, 115, 100, 0.4), 0 1px 3px #333333;
  -o-box-shadow: inset 0px 0px 0px 1px rgba(115, 115, 100, 0.4), 0 1px 3px #333333;
  -ms-box-shadow: inset 0px 0px 0px 1px rgba(115, 115, 100, 0.4), 0 1px 3px #333333;
  box-shadow: inset 0px 0px 0px 1px rgba(115, 115, 100, 0.4), 0 1px 3px #333333;
  font-size: 16px;
  border: 0px solid Chocolate;
  outline: none;
  background: #939393;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from( #D0D0D0), to( #808080));
  background: -moz-linear-gradient(top, #D0D0D0 0%, #808080 100%);
}
button.grey:active {
  background: #A0A0A0;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from( #DADADA), to( #8A8A8A));
  background: -moz-linear-gradient(top, #DADADA 0%, #8A8A8A 100%);
  outline: none;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), inset 0 0 7px #202020;
  -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.1), inset 0 0 7px #202020;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), inset 0 0 7px #202020;
}
button.grey:hover {
  background: #A0A0A0;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from( #DADADA), to( #8A8A8A));
  background: -moz-linear-gradient(top, #FAFAFA 0%, #8A8A8A 100%);
  outline: none;
}

