body
{
  /*font-family: Calibri,Arial,Helvetica,sans-serif;*/
  font-family: "futura-pt", Futura, "Trebuchet MS", Arial, sans-serif;
  min-height:600px;
  min-width:1024px;
}
h1
{
  font-size: 2em;
  color: #cd7249;
}


h2
{
  font-size: 1.5em;
  font-weight: normal;
  color: black;
  margin-top: 10px;
  margin-bottom: 0px;
}

h3
{
  font-size: 1.3em;
  color: #008fd5;
  margin-top: 5px;
  margin-bottom: 5px;
}

h4
{
  font-size: 1.2em;
  color: #008fd5;
  margin-top: 5px;
}

code
{
  font-weight: bold;
  font-size: .8em;
}

label
{
}

label.error
{
  margin-top: 0px;
  margin-bottom: 0px;
  color: #783447;
}

#giving_logo
{
  position: absolute;
  top:600px;
  right: 150px;
}

#registerDot {
  visibility: visible;
  opacity: 1;
}


/* main container area */

#container
{
  width: 1024px;
  margin: 0 auto;
  height: 550px;
  margin-top: 0px;
  overflow: hidden;
  position: relative;
}

#steps {
  position: absolute;
  width: 3200px;
}

/* registration form elements */
#dob
{
  width:40%;
}

#gender_wrapper
{
  margin-left: 20px;
}

#registration .city {width: 120px;}
#registration .state {width: 60px;}
#registration .zip { width:50px;}

div.state, div.zip
{
  margin-left:20px;
}


#validation_errors {
  position: absolute;
  display: none;
  width: 300px;
  background-color: white;
  border: solid 1px black;
}

#error_list {
  color: #874540;
}

#close_errors {
  float: right;
  margin-right: 15px;
  margin-bottom: 15px;
}

/* Step 2 elements */

#create_account_form, #dwolla_id_form, #other_provider_form {
  display: none;
}

#terms_heading {
  margin-top: 20px;
}
#terms_wrapper {
  margin-top: 20px;
}

#step2_buttons {
  margin-top:20px;
}

#register_now
{
  width: 170px;
  margin-left: 10px;
}

/* general classes */
.input_wrapper
{
  float: left;
  line-height: 15px;
  margin-top: 15px;
  height: 40px;
}
.registration_form {
  margin: 0 auto;
  width: 90%;
}

.large_line_height {
  line-height: 40px;
  float: left;
}
.small_line_height {
  line-height: 15px;
  float: left;
}

.next_button {
  float: left;
  margin-left: 65%;
  z-index: 2;
}
.back_button {
  z-index: 2;
}

.step_container {
  position: relative;
  width: 1024px;
  height: 550px;
  float: left;
}

.col1
{
  margin-left: 0px;
  width: 45%;
}
.col2
{
  margin-left: 10px;
  width: 45%;
}

.page_title
{
  margin-left: 0px;
}

button.orange:hover {
  background: #A94310;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from( #b05819), to( #A94310));
  background: -moz-linear-gradient(top, #b05819 0%, #A94310 100%);
  background: -o-linear-gradient(top, #b05819 0%, #A94310 100%);
  background: -ms-linear-gradient(top, #b05819 0%, #A94310 100%);
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #111;
  -moz-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #111;
  -o-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #111;
  -ms-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #111;
  box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #111;
}
button.orange:active {
  background: #A94310;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from( #D2691E), to( #A94310));
  background: -moz-linear-gradient(top, Chocolate 0%, #A94310 100%);
  background: -o-linear-gradient(top, Chocolate 0%, #A94310 100%);
  background: -ms-linear-gradient(top, Chocolate 0%, #A94310 100%);
  outline: none;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), inset 0 0 7px #202020;
  -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.1), inset 0 0 7px #202020;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), inset 0 0 7px #202020;
}
button.orange {
  width: 120px;
  height: 38px;
  border-radius: 7px;
  color: #FFFFFF;
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333333;
  -moz-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333333;
  -o-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333333;
  -ms-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333333;
  box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333333;
  font-size: 16px;
  border: 0px solid Chocolate;
  outline: none;
  background: #993300;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from( #D2691E), to( #993300));
  background: -moz-linear-gradient(top, Chocolate 0%, #993300 100%);
  background: -o-linear-gradient(top, Chocolate 0%, #993300 100%);
  background: -ms-linear-gradient(top, Chocolate 0%, #993300 100%);
}
button.grey
{
  width: 120px;
  height: 38px;
  border-radius: 7px;
  color: #FFFFFF;
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(115, 115, 100, 0.4), 0 1px 3px #333333;
  -moz-box-shadow: inset 0px 0px 0px 1px rgba(115, 115, 100, 0.4), 0 1px 3px #333333;
  -o-box-shadow: inset 0px 0px 0px 1px rgba(115, 115, 100, 0.4), 0 1px 3px #333333;
  -ms-box-shadow: inset 0px 0px 0px 1px rgba(115, 115, 100, 0.4), 0 1px 3px #333333;
  box-shadow: inset 0px 0px 0px 1px rgba(115, 115, 100, 0.4), 0 1px 3px #333333;
  font-size: 16px;
  border: 0px solid Chocolate;
  outline: none;
  background: #939393;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from( #D0D0D0), to( #808080));
  background: -moz-linear-gradient(top, #D0D0D0 0%, #808080 100%);
}
button.grey:active {
  background: #A0A0A0;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from( #DADADA), to( #8A8A8A));
  background: -moz-linear-gradient(top, #DADADA 0%, #8A8A8A 100%);
  outline: none;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), inset 0 0 7px #202020;
  -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.1), inset 0 0 7px #202020;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), inset 0 0 7px #202020;
}
button.grey:hover {
  background: #A0A0A0;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from( #DADADA), to( #8A8A8A));
  background: -moz-linear-gradient(top, #FAFAFA 0%, #8A8A8A 100%);
  outline: none;
}

