#container
{
  width: 1024px;
  margin: 0 auto;
  height: 700px;
  margin-top: 80px;
  overflow: hidden;
  position: relative;
}

#steps {
  position: absolute;
  width: 3200px;
}

#city {
  margin-right: 5px;
  width: 130px;
}
#state {
  margin-right: 5px;
  width: 20px;
}
#zip {
  margin-right: 0px;
  width: 40px;
}
/* name section */
#name_wrapper {
  width: 780px;
}
#first_name_wrapper {
  width: 390px;
  float: left;
}
#last_name_wrapper {
  width: 390px;
  float: left;
}
#first_name {
  width: 200px;
  margin-right: 15px;
}
#last_name {
  width: 200px;
  margin-right: 0px;
}
/* address section */
#address_wrapper {
  width: 600px;
}
#city_wrapper {
  width: 300px;
}
#state_wrapper {
  width: 140px;
}
#zip_wrapper {
  width: 140px;
}

/* auto register form section */
#auto_register_form {
  width: 600px;
  display: none;
  margin-bottom: 60px;
  position: absolute;
  background-color: white;
  border: 1px solid black;
}

#terms_wrapper {
  position: absolute;
  top: 170px;
  left: 320px;
}

#accept_terms {
  margin-right: 10px;
  width: 20px;
}

#register_now {
  float: right;
  margin-right: 15px;
}
#cancel_register {
  float: right;
  margin-right: 15px;
}
#password_wrapper {
  width: 500px;

}
#password_input_wrapper {
  width: 390px;
  float: left;
}
#confirm_password_input_wrapper {
  width: 590px;
  float: left;
}
#password {
  width: 120px;
  margin-right: 15px;
}
#confirm_password {
  width: 120px;
  margin-right: 0px;
}
#pin {
  width: 60px;
  margin-right: 0px;
}

#container h1 {
  font-size: 1.3em;
}
#container h2 {
  font-size: 1.1em;
}

#self_register_popup {
  width: 400px;
  border: 1px solid black;
  background-color: white;
  position: absolute;
  display: none;
  padding: 10px;
}

#open_dwolla_registration,
#cancel_open_dwolla_registration {
  float: right;
  margin-right: 15px;
}

#dwolla_id_form {
  display: none;
}

#validation_errors {
  position: absolute;
  display: none;
  width: 300px;
  background-color: white;
  border: solid 1px black;
}

#error_list {
  color: #874540;
}

#close_errors {
  float: right;
  margin-right: 15px;
  margin-bottom: 15px;
}


.registration_form {
  margin: 0 auto;
  width: 700px;
  padding: 14px;
}

.registration_form label{
  display:block;
  font-weight:bold;
  text-align:right;
  width:140px;
  float:left;
}
.registration_form .small{
  color:#666666;
  display:block;
  font-size:11px;
  font-weight:normal;
  text-align:right;
  width:140px;
}
.registration_form input{
  float:left;
  font-size:12px;
  padding:4px 2px;
  border:solid 2px #676767;
  background-color: #DeDeDe;
  width:200px;
  margin:2px 0 20px 10px;
  margin-right: 300px;
  color: #0F0F0F;
}
.registration_form textarea{
  float:left;
  font-size:12px;
  padding:4px 2px;
  margin:2px 0 20px 10px;
  border:solid 2px #676767;
  background-color: #DeDeDe;
  color: #0F0F0F;
}

.next_button {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.back_button {
  position: absolute;
  left: 10px;
  bottom: 10px;
}

.step_container {
  position: relative;
  width: 900px;
  margin-left:48px;
  margin-right:48px; 
  height: 500px;
  border-width: 2px;
  border-style: solid;
  border-color: #595959;
  padding: 10px;
  float: left;
}

.rounded_corners {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

.rounded_corners_medium {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}

.rounded_corners_large {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 10px;
}

.hcenter {
  margin: 0 auto;
}

.address_item {
  float: left;
}

