<div id="thankyou" class="widget_screen center">
  <div id="charity_name">
    {{charity_name}} 
  </div>
  <div id="header">
    <h1>Thank you for your On-Line Giving</h1>
    <h2>100% given = 100% received</h2>
    <p id="subheader">
      You will receive a confirmation email for your donation.
    </p>
  </div>
  <div id="recurring_container">
    <input type="checkbox" id="recurring"/><label for="recurring">Make this a recurring donation</label>
    <div id="recurring_options">
      <label for="amount_display">Amount:</label><span id="amount_display">{{amount}}</span>
      <label for="frequency">Frequency:</label>
      <select id="frequency">
        <option value="weekly" selected="selected">Weekly</option>
        <option value="biweekly">Every Two Weeks</option>
        <option value="monthly">Monthly</option>
      </select>
      <button type="button" class="orange" id="create_recurring_donation">Save</button>
    </div>
  </div>
  <div id="recurring_created">
    <p>Thank you, your recurring donation has been created. To view or modify your recurring donations, please <a target="_blank" href="/profile.html#profile_recurring_donations">click here</a></p>
  </div>



</div>
