<div class="recurring_donation_widget" subscription_id="{{subscription_id}}">
  <label>Charity: </label><span field="charity_name">{{charity_name}}</span>
  <label>Amount: </label><span field="amount">{{amount}}</span>
  <label>Frequency: </label><span field="frequency">{{frequency}}</span>
  <label>Last donation date: </label><span field="last_transaction_date">{{last_transaction_date}}</span>
  <label>Next donation date: </label><span field="next_transaction_date">{{next_transaction_date}}</span>
  <button type="button" class="orange cancel_subscription" subscription_id="{{subscription_id}}">Cancel</button>
</div>
