<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/donor_widget.css" />
    <link rel="stylesheet" type="text/css" href="/css/authenticate_complete.css" />
    <script src="/script/app/app.js" type="text/javascript"></script>
  </head>
  <body>
    <div>
      <p>Thanks, we've received your authorization to send money to {{charity_id}}.</p>
      <p>How much would you like to donate today?</p>
      <form id="donate_form" action="/confirm_amount" method="POST">
        <input type="text" id="amount" name="amount" />
      </form>
      <p class="error">{{error}}</p>
      <a href="#" class="button grey" id="cancel_button">Cancel</a>
      <a href="#" class="button" id="donate_button">Donate now!</a>
    </div>
    
    <span id="siteseal"><script type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=0MNNAmxZ9z1cojfKjDy9PSpy1qZDMbyoTVXCEgLoak8Tj3uaMvG31a"></script></span>
  </body>
</html>
