<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/klear_choice.css" />
    <link rel="stylesheet" type="text/css" href="/css/donor_widget.css" />
    <script type="text/javascript" src="/script/app/app.js"></script>
  </head>
  <body>
    <div id="header_logo"></div>
    <div id="header" class="center">
      <h1>
        {{charity_name}}<br/>
        welcomes you to KlearChoice On-Line Giving
      </h1>
      <h2>100% given = 100% received</h2>
      <p>It's safe and secure and you know we receive 100% of your donation.</p>
    </div>

    <div id="email_wrapper">
      <div class="center">
        <p>Please provide your email address to get started.</p>
        <input type="text" placeholder="E-mail" id="donor_email" name="donor_email" /><br/>
      </div>
      <button type="button" class="orange" id="submit_email">Submit</button>
    </div>

    <div id="new_donor" class="center">
      <p>
      It looks like you are a new donor, welcome! To get started, you'll need an account
      with our trusted payment processor, Dwolla.
      </p>
      <p>
      By using Dwolla, you ensure that we receive the maximum benefit from your donation, and help us avoid costly credit card fees. 
      </p>
      <p>
      Do you already have a Dwolla account?
      </p>

      <div id="dwolla_buttons">
        <button type="button" class="orange" id="new_dwolla_button">I am new to Dwolla</button>
        <button type="button" class="orange" id="existing_dwolla_button">I already have a Dwolla account</button>
      </div>
    </div>
    <!--<span id="siteseal"><script type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=0MNNAmxZ9z1cojfKjDy9PSpy1qZDMbyoTVXCEgLoak8Tj3uaMvG31a"></script></span>-->
  </body>
</html>
