<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/donor_widget.css" />
  </head>
  <body>
    <h3>Thank you for donating!</h3>
    <p>We use Dwolla to accept secure online donations. Dwolla allows us to reduce credit card transacion fees, ensuring that we are able to get the maximum benefit from your donation.</p>
    <div id="sign-in">
      <p>If you have an existing Dwolla account:</p>
      <a href="/auth/dwolla" class="button">Sign in with Dwolla</a>
      <p>If you havent signed up with Dwolla yet, click below to sign up and add funds to your account:</p>
      <a href="https://www.dwolla.com/register" class="button" target="_blank">Register a new account with Dwolla</a>
    </div>
    <span id="siteseal"><script type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=0MNNAmxZ9z1cojfKjDy9PSpy1qZDMbyoTVXCEgLoak8Tj3uaMvG31a"></script></span>
  </body>
</html>
