<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/klear_choice.css" />
    <link rel="stylesheet" type="text/css" href="/css/donor_widget.css" />
    <link rel="stylesheet" type="text/css" href="/css/cupertino/jquery-ui-1.10.2.custom.min.css" />
    <script type="text/javascript" src="/script/app/app.js"></script>
  </head>
  <body>
    <img id="header_logo" src="/images/empowered_by_logo.jpg"></img>
    <div id="content"></div>
  </body>
</html>
