<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/donor_widget.css" />
    <link rel="stylesheet" type="text/css" href="/css/confirm_amount.css" />
    <script src="/script/app/app.js" type="text/javascript"></script>
  </head>
  <body>
    <div id="content">
      <p>Great! You're almost done.</p>
      <p>Please confirm the following information, and we'll send your donation.</p>
      <table id="info_wrapper">

        <tr>
          <td class="label">Your name:</td>
          <td class="value">{{user.Name}}</td>
        </tr>

        <tr>
          <td class="label">Charity name:</td>
          <td class="value">{{charity_name}}</td>
        </tr>
        
        <tr>
          <td class="label">Amount to donate:</td>
          <td class="value">{{amount}}</td>
        </tr>

        <tr>
          <td class="label">Fee:</td>
          <td class="value">{{fee}} <a href="#" id="whats_this_link">what's this?</a> </td>
        </tr>

        <tr>
          <td class="label">Total:</td>
          <td class="value">{{total}}</td>
        </tr>
      </table>
      <div id="pin_wrapper">
        <span id="pin_label">Dwolla PIN:</span>
        <input type="password" maxlength="4" id="pin" />
      </div>
        <a href="#" id="donate_now_button" class="button">Everything is correct, send my donation now</a>
        <a href="/authenticate_complete.html" class="button grey">Go back</a>
    </div>
    <div id="error_popup">
      <p>There was a problem processing your payment request:</p>
      <p id="error_message"></p>
      <a href="#" id="close_popup" class="button">Close</a>
    </div>
    <div id="whats_this_popup">
      <p>This is the small fee charged by Dwolla and KlearChoice Inc for facilitating and processing this payment. Please note, this fee is considerably less than what is charged by credit card companies, by using Klear Choice and Dwolla, you're ensuring your charity receives the maximum benefit from your donation. </p>
      <a href="#" id="close_whats_this" class="button">Close</a>
    </div>
  </body>
</html>
