
        <footer>
          <div id="footer">
            <div class="footTop"><ul class="footerText">
                <li id="copyright">Copyright &copy; 2013 KlearChoice Inc. All rights reserved.</li>
                <li><ul class="footerNav">
                  <li id="terms"><a href="http://klearchoice.com/terms">Terms of Service Agreement</a></li> | 
                  <li id="policy"><a href="http://privacy-policy.truste.com/verified-policy/www.klearchoice.com" target="_blank">Privacy Policy</a></li>
                </ul></li><!-- - /footerNav - -->
            </ul></div><!-- - /footerTop - -->
            <p><ul class="partners">
              <li id="dwolla"><a href="http://www.dwolla.com/" target="_blank"><img src="images/dwolla_logo.png"/></a></li>
              <li id="truste"><a href="http://privacy-policy.truste.com/verified-policy/www.klearchoice.com" target="_blank"><img src="images/etrust.png" /></a></li>
            </ul></p><!-- - /partners - -->
          </div><!-- - /footer - -->
        </footer>  
