    <div class="top_bar">
      <div class="header_wrap">
        <div class="header_data"><header>
          <div class="logo"><a href="http://klearchoice.com">
              <img src="images/logo.png" />
          </a></div><!-- - /logo - -->
          <nav><div id="pageNav"> 
            <div class="navWrap">
              <div class="hover">
                <a href="http://klearchoice.com/features" id="featuresNav">
                  <div id="featuresDot" class="dot"></div>
                  Features
                </a>
              </div><!-- - /hover - -->
            </div><!-- - /navWrap - -->
            <div class="navWrap">
              <div href="#" class="hover">
                <a href="http://klearchoice.com/resources" id="resourcesNav">
                  <div id="resourcesDot" class="dot"></div>
                  Resources
                </a>
              </div><!-- - /hover - -->
            </div><!-- - /navWrap - --> 
            <div class="navWrap">
              <div href="#" class="hover">
                <a href="http://klearchoice.com/support" id="supportNav">
                  <div id="supportDot" class="dot"></div>
                  Support
                </a>
              </div><!-- - /hover - -->
            </div><!-- - /navWrap - -->
            <div class="navWrap">
              <div href="#" class="hover">
                <a href="https://app.klearchoice.com/register.html" id="registerNav">
                  <div id="registerDot" class="dot"></div>
                  Register
                </a>
              </div><!-- - /hover - -->
            </div><!-- - /navWrap - -->
            <div class="navWrap">
               <div href="#" class="hover">
                 <a href="http://klearchoice.com/about" id="aboutNav">
                   <div id="aboutDot" class="dot"></div>
                   About Us
                 </a>
               </div><!-- - /hover - -->
            </div><!-- - /navWrap - -->
          </div></nav><!-- - /pageNav - -->
          </header></div>
        </div><!-- - /header_wrap - -->
      </div> <!-- /top_bar -->
