<!doctype html>
<html>
  <head>
    <script src="/script/app/app.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/css/register.css" type="text/css" />
    <link rel="stylesheet" href="/css/donor_widget.css" type="text/css" /> <!-- reuse some styling from the widget app too -->
  </head>
  <div id="container">
    <div id="steps">
      <div id="step1" class="rounded_corners_medium step_container">
        <h1>Step 1 of 3</h1>
        <h2>Thanks for signing up!</h2>
        <p>We have some information to gather in a few simple steps, and then you'll be ready to start collecting donations on your web site!</p>
        <div id='registration_form' class="registration_form">

          <label>Name
            <span class="small">Your full name</span>
          </label>
          <input type="text" name="full_name" id="full_name" />

          <label>Charity name
            <span class="small">The name of the charity</span>
          </label>
          <input type="text" name="dealership" id="dealership" />

          <label>Email
            <span class="small">Your email address</span>
          </label>
          <input type="text" name="email" id="email" />

          <label>Phone
            <span class="small">So we can get in touch with you</span>
          </label>
          <input type="text" name="phone" id="phone" />

          <label>Address
            <span class="small">Full street address</span>
          </label>
          <input type="text" name="address" id="address" />

          <div id="address_wrapper">
            <div id="city_wrapper" class="address_item">
              <label>City
                <span class="small">The city where the charity is located</span>
              </label>
              <input type="text" name="city" id="city" />
            </div>

            <div id="state_wrapper" class="address_item">
              <label style="width:80px">State
                <span class="small" style="width:80px">The two letter abbr. for your state (ex. "TX")</span>
              </label>
              <input type="text" name="state" id="state" />
            </div>

            <div id="zip_wrapper" class="address_item">
              <label style="width:80px">Zip
                <span class="small" style="width:80px">Your postal code</span>
              </label>
              <input type="text" name="zip" id="zip" />
            </div>
          </div>

          <div id="step1_next" class="button next_button">
           Next 
          </div>
        </div> <!-- end registration form -->
      </div> <!-- end step 1 -->
      <div id="step2" class="rounded_corners_medium step_container">
        <h1>Step 2 of 3</h1>
        <h2>Thanks for signing up!</h2>
        <p>We have some information to gather in a few simple steps, and then you'll be ready to start collecting donations on your web site!</p>
        <div class="registration_form">

          <label>Name
            <span class="small">Your full name</span>
          </label>
          <input type="text" name="full_name" id="full_name" />

          <label>Charity name
            <span class="small">The name of the charity</span>
          </label>
          <input type="text" name="dealership" id="dealership" />

          <label>Email
            <span class="small">Your email address</span>
          </label>
          <input type="text" name="email" id="email" />

          <label>Phone
            <span class="small">So we can get in touch with you</span>
          </label>
          <input type="text" name="phone" id="phone" />

          <label>Address
            <span class="small">Full street address</span>
          </label>
          <input type="text" name="address" id="address" />

          <div id="address_wrapper">
            <div id="city_wrapper" class="address_item">
              <label>City
                <span class="small">The city where the charity is located</span>
              </label>
              <input type="text" name="city" id="city" />
            </div>

            <div id="state_wrapper" class="address_item">
              <label style="width:80px">State
                <span class="small" style="width:80px">The two letter abbr. for your state (ex. "TX")</span>
              </label>
              <input type="text" name="state" id="state" />
            </div>

            <div id="zip_wrapper" class="address_item">
              <label style="width:80px">Zip
                <span class="small" style="width:80px">Your postal code</span>
              </label>
              <input type="text" name="zip" id="zip" />
            </div>
          </div> <!-- end address_wrapper -->
        </div> <!-- end registration form -->
        <div id="step2_back" class="button back_button">
          Back
        </div>
        <div id="step2_next" class="button next_button">
         Next 
        </div>
      </div> <!-- end step 2 -->
    </div> <!-- end steps -->
  </div> <!-- end container -->
  
</html>
