<!doctype html>
<html>
  <head>
    <script src="/script/app/app.js" type="text/javascript"></script>
                                            
    <link rel="stylesheet" href="/css/klear_choice.css" type="text/css" />
    <link rel="stylesheet" href="/css/register.css" type="text/css" />
  </head>
  <body>
    <img id="giving_logo" src="images/online_giving_logo_dark.png"></img>
    <div class="top_bar">
      <div class="header_wrap">
        <div class="header_data"><header>
          <div class="logo"><a href="/">
              <img src="images/logo.png" />
          </a></div><!-- - /logo - -->
          <nav><div id="pageNav"> 
            <div class="navWrap">
              <div href="#" class="hover">
                <a href="features" id="featuresNav">
                  <div id="featuresDot" class="dot"></div>
                  Features
                </a>
              </div><!-- - /hover - -->
            </div><!-- - /navWrap - -->
            <div class="navWrap">
              <div href="#" class="hover">
                <a href="resources" id="resourcesNav">
                  <div id="resourcesDot" class="dot"></div>
                  Resources
                </a>
              </div><!-- - /hover - -->
            </div><!-- - /navWrap - --> 
            <div class="navWrap">
              <div href="#" class="hover">
                <a href="support" id="supportNav">
                  <div id="supportDot" class="dot"></div>
                  Support
                </a>
              </div><!-- - /hover - -->
            </div><!-- - /navWrap - -->
            <div class="navWrap">
              <div href="#" class="hover">
                <a href="https://app.klearchoice.com/register.html" id="registerNav">
                  <div id="registerDot" class="dot"></div>
                  Register
                </a>
              </div><!-- - /hover - -->
            </div><!-- - /navWrap - -->
          </div></nav><!-- - /pageNav - -->
          </header></div>
        </div><!-- - /header_wrap - -->
      </div> <!-- /top_bar -->


    <div class="content_wrap">
      <div class="content_data">
        <h1>Register with KlearChoice On-Line Giving</h1>
        <p>All fields are required. Click <a href="#">here</a> for a full list of information required to complete the On-Line Giving Registration.</p>
        <h2>Easy Two Step Registation</h2>

        <!--<div class="process">
          <ul class="nav nav-process">
            <li>
              <a href="">Step 1 - Registar and Church Information</a>
            </li>
            <li>
              <a href="">Step 2 - Organization Information</a>
            </li>
            <li>
              <a href="">Step 3 - Select Features</a>
            </li>
            <li>
              <a href="">Step 4 - Get Your Code</a>
              </li>
          </ul>
        </div>-->

        <div id="container">
          <div id="steps">
            <div id="step1" class="step_container">
              <h3>Step 1 - Registrar and Church Information</h3>
              <div id='registration_form large_line_height' class="registration_form">
                <h4>Registrar Information</h4>
                <input type="text" class="col1" placeholder="Registrar's First Name" name="first_name" id="first_name" />
                <input type="text" class="col2" placeholder="Registrar's Last Name" name="last_name" id="last_name" />
                <input type="text" class="col1" placeholder="Registrar's Email" name="email" id="email" />
                <input type="text" class="col2" placeholder="Registrar's Title at the Church" name="title" id="title" />
                <input type="text" class="col1" placeholder="Registrar's Date of Birth" name="dob" id="dob" />
                <span id="gender_wrapper"> Gender: 
                  &nbsp; F<input type="radio" name="gender" value="F"/> 
                  M<input type="radio" name="gender" value="M"/>
                </span>
                <h4>Church Information</h4>
                <input type="text" class="col1" placeholder="Church Legal Name" name="church_name" id="church_name" />
                <input type="text" class="col2" placeholder="Church's Phone" name="phone" id="phone" />
                <input type="text" class="col1" placeholder="Physical Address" name="address" id="address" />
                <span class="col2">
                  <input type="text" class="city" placeholder="City" name="city" id="city" />
                  <input type="text" class="state" placeholder="State" name="state" id="state" />
                  <input type="text" class="zip" placeholder="Zip" name="zip" id="zip" />
                </span>
                <input type="text" class="col1" placeholder="Mailing Address (leave blank if same as physical address)" name="mailing_address" id="address" />
                <span class="col2">
                  <input type="text" class="city" placeholder="City" name="maililng_city" id="maililng_city" />
                  <input type="text" class="state" placeholder="State" name="maililng_state" id="maililng_state" />
                  <input type="text" class="zip" placeholder="Zip" name="maililng_zip" id="maililng_zip" />
                </span>
                <input type="text" class="col1" placeholder="Website Address" name="domain" id="domain" />
                <input type="text" class="col2" placeholder="Church's Board Type - Elders, Deacons, or Trustees" name="board_type" id="board_type" />

              </div> <!-- end registration form -->
              <button id="step1_next" class="orange next_button">
                Next 
              </button>
              <div id="validation_errors">
                <ul id="error_list">
                </ul>
                <a href="#" id="close_errors" class="button">Ok</a>
              </div>
            </div> <!-- end step 1 -->
            <div id="step2" class="rounded_corners_medium step_container">
              <h3>Step 2 - Select The On-Line Giving Partner</h3>
              <div class="registration_form">
                <h4 class="orange">Register with our trusted On-Line Giving processing provider.</h4>
                <p>We do the research and partner with only the safest and most secure pocessing providers. When you register with KlearChoice, you know you've made the right choice.</p>
                <input type="radio" name="provider" id="create_dwolla_account"/>Create a Dwolla account
                <input type="radio" name="provider" id="existing_dwolla_account"/>Already have a Dwolla account?
                <input type="radio" name="provider" id="other_account"/>Other
                <div id="auto_register_form" class="registration_form">
                  <input type="password" class="col1" placeholder="Dwolla password" name="password" id="password" />
                  <input type="password" class="col2" placeholder="Confirm Dwolla password" name="confirm_password" id="confirm_password" />
                  <input type="password" class="col1" placeholder="Dwolla PIN" name="pin" id="pin" />
                  <input type="password" class="col2" placeholder="Confirm Dwolla PIN" name="confirm_pin" id="pin" />
                  <input type="text" class="col1" placeholder="Federal Employer Idenitification Number (EIN)" name="ein" id="ein" />
                </div>
                <div class="registration_form" id="dwolla_id_form" >
                  <input type="text" class="col1" placeholder="Dwolla account ID" name="dwolla_id" id="dwolla_id" />
                </div> <!-- end registration form -->
                <h4 id="terms_heading" class="orange">KlearChoice and Dwolla Terms of Service</h4>
                <div id="terms_wrapper">
                  <input type="checkbox" id="accept_terms" name="accept_terms" />
                  Yes, we agree to the <a href="">KlearChoice</a> and <a href="https://www.dwolla.com/tos" target="_blank">Dwolla</a> Terms of Service
                  <br/>
                  <input type="checkbox" id="accept_terms" name="accept_terms" />
                  I am authorized as the registrar for this church.
                </div>
                <div id="step2_buttons">
                  <button id="step2_back" type="button" class="grey back_button">Go Back</a>
                  <button id="register_now" type="button" class="orange">
                    Create My Account
                  </button>
                </div>
              </div>
            </div> <!-- end step 2 -->
            <div id="step3" class="rounded_corners_medium step_container">
              <p>Congratulations! Your church is now registered to accept on-line donations without costly credit card fees.</p>
              <div id="snippet">
                &lt;script id="klearchoice_script" src="https://app.klearchoice.com/script/widget.js" type="text/javascript" &gt;&lt;script&gt;
              </div>
              <p>Have your web administrator copy and paste this code onto your website.</p>
              <p>Or, send an email to your ogranization's web master with instructions from us.</p>
              <p>Please provide your web master's name and email.</p>
              <input placeholder="Web Master's Name" type="text" id="web_master_name" name="web_master_name"/>

            </div> <!-- end step 3 -->
          </div> <!-- end steps -->
        </div> <!-- end container -->
      </div> <!-- end content data -->
    </div> <!-- end content wrap -->
  </body>
</html>
