<!doctype html>
<html>
  <head>
    <script src="/script/app/app.js" type="text/javascript"></script>
    <script type="text/javascript" src="//use.typekit.net/dbx2cpl.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <link rel="stylesheet" href="/css/klear_choice.css" type="text/css" />
    <link rel="stylesheet" href="/css/profile.css" type="text/css" /> <!-- profile css is used for password reset too -->
  </head>
  <body>
    {{>header}}

    <div class="content_wrap">
      <div class="content_data">
        <div class="page_title">Reset Password</div>
          <div id="container">
            <img id="giving_logo" src="images/online_giving_logo_light.png"></img>
            <div id="content">
              <div id='login_form' class="login_form large_line_height">
                <p>Please complete the form below to reset your password</p>
                <form id="reset_password">
                  <div class="input_wrapper col1">
                    <input type="password" class="required" placeholder="New password" name="password" id="password" required="required" />
                    <div class="validation" for="password" title="Password is required"></div>
                  </div>
                  <div class="input_wrapper col2">
                    <input type="password" class="required" placeholder="Confirm password" name="confirm_password" id="confirm_password" required="required" />
                    <div class="validation" for="confirm_password" title="Password confirmation must be the same value as the password field"></div>
                  </div>
                  <button type="button" id="submit_reset" class="orange">
                    Submit 
                  </button>
                  <div id="reset_error" class="error"></div>
                </form>
              </div>
              <div id="reset_success" style="display:none">
                <p>Your password has been successfully reset</p>
                <p>Please <a href="https://app.klearchoice.com/profile.html">click here</a> to log in and view your profile</p>
              </div>
              <div id="reset_error" style="display:none">
                <p>There was an error attempting to reset your password. Please review the details below:</p>
                <div id="error_message"></div>
                <p>If this problem persists, please contact support at support@klearchoice.com</p>
              </div>
            </div> 
          </div> <!-- end container -->
        </div> <!-- end content data -->
      </div> <!-- end content wrap -->

    {{>footer}}
  </body>
=</html>
